{% extends "layouts/base.html" %}
{% block title %}New Host{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <h3 class="page-title">Delete</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row">
            <!-- Host Form -->
            <div class="col-lg-4 mb-4">
                <div class="card card-small mb-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <div class="row">
                                <div class="col">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <div class="text-center">
                                                <p>
                                                    Are you sure you want to delete "{{ object }}"?
                                                </p>
                                                {{ form }}
                                                <button type="submit" class="mb-2 btn btn-danger mr-2">Confirm</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Default Light Table -->
        </div>
    {% endblock content %}
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
