{% extends "layouts/base.html" %}

{% block title %} Metric {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Metric</span>
      <h3 class="page-title">{{ metric.created }}</h3>
    </div>
  </div>
  <!-- End Page Header -->

  <div class="card main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-2"></div>
    {% if status %}
    <h4>Status</h4>
    {% include 'includes/recurse.html' with dict=status %}
    {% endif %}
    
    {% if metrics %}
    <h4>Metrics</h4>
    {% include 'includes/recurse.html' with dict=metrics %}
    {% endif %}
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}