{% extends "layouts/base.html" %}

{% block title %} Add {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Monitor</span>
      <h3 class="page-title">Reset Password</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <div class="row">
    <!-- Host Form -->
    <div class="col-lg-4 mb-4">
      <div class="card card-small mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-3">
            <div class="row">
              <div class="col">
                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a
                  new one.</p>
                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <div id="form_errors">
                    {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                    {% endfor %}
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %}

                <form method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="feFirstName">Email</label>
                    <input type="email" name="email" maxlength="254" class="form-control" required id="id_email"
                      placeholder="Enter email">
                  </div>
                  <button type="submit" name="register" class="btn btn-accent">Submit</button>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Default Light Table -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}