{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% load static %}
{% endblock stylesheets %}

{% block content %}
<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Overview</span>
      <h3 class="page-title">User Profile</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <!-- Default Light Table -->
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-small mb-4 pt-3">
        <div class="card-body border-bottom text-center">
          <div class="mb-3 mx-auto">
            <!-- <img class="rounded-circle" src="/static/img/avatars/avatar.jpg" alt="User Avatar" width="110"> -->
            <img class="rounded-circle" src="{% static 'img/avatars/avatar.jpg' %}" alt="User Avatar" width="110">
          </div>
          <h4 class="mb-0">
            {{ request.user.first_name }} {{ request.user.last_name }}
          </h4>
          <span class="text-muted d-block mb-2">
            {{ request.user.username }}
          </span>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card card-small mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-3">
            <div class="row">
              <div class="col">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="feEmailAddress">Email</label>
                    <input class="form-control-plaintext" id="feEmailAddress" placeholder="Email"
                      value="{{ request.user.email }}" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="feUsername">Username</label>
                    <input class="form-control-plaintext" id="feUsername" placeholder="Username"
                      value="{{ request.user.username }}" readonly>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="feUsername">Account ID</label>
                    <input class="form-control-plaintext" id="feUsername" placeholder="Account ID"
                      value="{{ request.user.id }}" readonly>
                  </div>
                  <div class="form-group">
                    <label for="feToken">Token</label>
                    <input type="text" class="form-control-plaintext" id="feToken" placeholder="Token"
                      value="{{ token }}" readonly>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Default Light Table -->
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}