{% extends "layouts/base.html" %}

{% block title %}Alerts{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="main-content-container container-fluid px-4">
  <!-- Default Light Table -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Dashboard</span>
      <h3 class="page-title">Alerts</h3>
    </div>
  </div>

  <div class="row py-2 d-flex justify-content-between">
    <div class="col-12 col-sm-8">
      <form action="{% url 'home' %}" method="GET">
        <div class="input-daterange input-group input-group-sm my-auto mr-auto mr-sm-0" style="max-width: 350px;">
          <input type="date" class="input-sm form-control" name="start" placeholder="Start Date"
            id="blog-overview-date-range-1">
          <input type="date" class="input-sm form-control" name="end" placeholder="End Date"
            id="blog-overview-date-range-2">
          <span class="input-group-append">
            <span class="input-group-text">
              <i class="material-icons"></i>
            </span>
          </span>
          <button type="submit" class="btn btn-sm btn-outline-primary ml-2">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="mb-4">
    <div class="card card-small">
      <div class="card-header border-bottom">
        <h6 class="m-0">Alerts from today</h6>
      </div>
      <div class="card-body pt-0">
        <canvas height="95" style="max-width: 100% !important;" id="alertChart"></canvas>
      </div>
    </div>
  </div>
  <!-- End Users Stats -->

  {% include 'includes/dropdown_pagination.html' %}

  <div class="row">
    <div class="col">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0"></h6>
        </div>

        <div class="card-body p-0 pb-3 text-center">
          <div class="table-responsive scrollbar">
            <table class="table mb-0">
              <thead class="bg-light">
                <tr>
                  <th scope="col" class="border-0">#</th>
                  <th scope="col" class="border-0">Agent</th>
                  <th scope="col" class="border-0">Created</th>
                  <th scope="col" class="border-0">CPU</th>
                  <th scope="col" class="border-0">RAM</th>
                  <th scope="col" class="border-0">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Item -->
                {% if page_obj is not True %}
                {% for alert in page_obj %}
                <tr>
                  <td>
                    <a href="{% url 'alert-detail' alert.agent.token alert.id %}">
                      <span class="font-weight-bold">{{ forloop.counter }}</span>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'host-detail' alert.agent.token %}">
                      <span class="font-weight-normal">{{ alert.agent.name }}</span>
                    </a>
                  </td>
                  <td>
                    <span class="font-weight-normal">
                      {{ alert.created }}
                    </span>
                  </td>
                  <td>
                    <span class="font-weight-normal">
                      {% if alert.cpu_percent %}{{ alert.cpu_percent }}%{% endif %}
                    </span>
                  </td>
                  <td>
                    <span class="font-weight-normal">
                      {% if alert.ram_percent %}{{ alert.ram_percent }}%{% endif %}
                    </span>
                  </td>
                  <td>
                    <a href="{% url 'alert-delete' alert.agent.token alert.id %}"><button type="button"
                        class="mb-2 btn btn-danger mr-2">Delete</button></a>
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Default Light Table -->

  {% include 'includes/pagination.html' %}

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  const data = {{ data | safe}};
  const labels = {{ labels | safe }};

  if ((data.length > 0 && labels.length > 0)) {
    const dataset = {
      label: 'Alerts',
      fill: 'start',
      data: data,
      backgroundColor: 'rgba(0,123,255,0.1)',
      borderColor: 'rgba(0,123,255,1)',
      pointBackgroundColor: '#ffffff',
      pointHoverBackgroundColor: 'rgb(0,123,255)',
      borderWidth: 1.5,
      pointRadius: 0,
      pointHoverRadius: 3,
      normalized: true,
    };

    const Data = {
      labels: labels,
      datasets: [dataset]
    };

    console.log(Data);

    // Options
    const Options = {
      responsive: true,
      legend: {
        position: 'top'
      },
      scales: {
        x: {
          type: 'time',
          time: {
            unit: 'hour',
          },
          ticks: {
            source: 'auto'
          }
        },
        y: {
          ticks: {
            beginAtZero: true,
            callback: function (value) { if (value % 1 === 0) { return value; } }
          }
        }
      },
      elements: {
        line: {
          // A higher value makes the line look skewed at this ratio.
          tension: 0.3
        },
        point: {
          radius: 0
        }
      },
      // Uncomment the next lines in order to disable the animations.
      // animation: {
      //   duration: 0
      // },
      hover: {
        mode: 'nearest',
        intersect: false
      },
      tooltips: {
        custom: false,
        mode: 'nearest',
        intersect: false
      }
    };

    const config = {
      type: 'line',
      data: Data,
      options: Options
    };

    const alertData = new Chart(
      document.getElementById('alertChart'),
      config
    );
  }
</script>
{% endblock javascripts %}