{% load static %}
<div class="main-navbar sticky-top bg-white">
  <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
    <div class="input-group input-group-seamless ml-3"></div>

    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
      <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="nav-link-icon__wrapper">
          <i class="material-icons">&#xE5D2;</i>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-small">
        <a class="dropdown-item" href="/">
          <i class="material-icons text-primary">edit</i>
          <span>Dashboard</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/host/?page=1">
          <i class="material-icons text-primary">vertical_split</i>
          <span>Hosts</span>
        </a>
      </div>
    </li>

    <ul class="navbar-nav border-left flex-row ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button"
          aria-haspopup="true" aria-expanded="false">
          <!-- <img class="user-avatar rounded-circle mr-2" src="/static/img/avatars/avatar.jpg" alt="User Avatar"> -->
          <img class="user-avatar rounded-circle mr-2" src="{% static 'img/avatars/avatar.jpg' %}" alt="User Avatar">
          <span class="d-none d-md-inline-block">
            {{ request.user.username }}
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-small">
          <a class="dropdown-item" href="/accounts/profile/">
            <i class="material-icons">&#xE7FD;</i> Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href={% url 'logout' %}>
            <i class="material-icons text-danger">&#xE879;</i> Logout </a>
        </div>
      </li>
    </ul>
    {% endif %}
  </nav>
</div>