{% extends "layouts/base.html" %}

{% block title %}{{ host.name }}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Monitor Hosts</span>
      <h3 class="page-title">Execute Command</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <div class="row">
    <!-- Host Form -->
    <div class="col-lg-8">
      <div class="card card-small mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-3">
            <div class="row">
              <div class="col">
                <span>Command for {{ host.name }} will be sent to http://{{ host.ip }}:{{ host.port }}.<br>If this is
                  incorrect, edit the agent <a href="{% url 'host-edit' host.token %}">here</a>.</span>
                <form role="form" method="post" class="pt-3">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" name="add" class="btn btn-accent">Execute Command</button>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Default Light Table -->

  {% if messages %}
  <div class="row">
    <div class="col">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 id="response" class="m-0">Response</h6>
        </div>
        <div class="card-body p-0 pb-3" style="background: #f8f8f8">
          <div id="response-data"></div>
          {% for message in messages %}
            {% comment %} {% debug %} {% endcomment %}
            {% load custom_tags %}
            {% include 'includes/recurse_html.html' with dict=message.message|todict %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}